@{
//Layout = null;
}

<div class="col-md-6 col-md-offset-3 well well-lg">
    <div>
        <a href="@Url.Action("AddNeed","Home")"><h1>Add Need</h1></a>
        <p>Add a need to solicit donations</p>
    </div>
</div>

<div class="col-md-6 col-md-offset-3 well well-lg">
    <div>
        <a href="@Url.Action("MyDonations","Home")"><h1>My Donations</h1></a>
        <p>See donations you have made</p>
    </div>
</div>

<div class="col-md-6 col-md-offset-3 well well-lg">
    <div>
        <a href="@Url.Action("ReceivedDonations","Home")"><h1>My Received Donations</h1></a>
        <p>See the donations received by you</p>
    </div>
</div>

<div class="col-md-6 col-md-offset-3 well well-lg">
    <div>
        <a href="@Url.Action("NeedsApproved","Home")"><h1>Needs Approved by Me</h1></a>
        <p>See needs you have approved</p>
    </div>
</div>
